.prueba {
    color:rgb(0, 195, 255);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    border: 2px solid;
    height: 20px;
    text-decoration:line-through;
    /*text-transform:uppercase; /* es para ignorar una linea o multilinea*/
}
.prueba2 {
    font-weight: bold;
    background-color: blueviolet;
    height: 20px;
    z-index: 10;
    margin: 15px;
}
.divception {
    font-size: medium;
    position: static;
}
.parent {
    flex-direction: column;
    width: 100%;
    border:2px solid;
    margin: 60px;
    padding:20px;
    display: flex;
    background-color: aqua;
    justify-content:center;
    align-items: center;
    gap: 40px;
    
}
.child {
 border:2px solid;
    margin: 10px;
    text-align: center;
    height:10px;
    padding:20px;
    width:100px;
    background-color: aqua;
}
.child:nth-last-child(even) {
width: 40px;
height:40px;
}

@media screen and (min-width: 481px) {
    .parent {
    border:2px solid;
    background-color: rgb(255, 94, 0);
    flex-direction: row;
    
}
}